src/professional_renewed/lesson11_xml_xmlparsers/ex004_JAXB/output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog" type="catalogType"/>
  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element name="author">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Author1"/>
            <xs:enumeration value="Author2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="price">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="40.55"/>
            <xs:enumeration value="30.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="publish_date">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2018-09-30T12:02:43.563+03:00"/>
            <xs:enumeration value="2012-02-23T12:02:43.563+03:00"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Title1"/>
            <xs:enumeration value="Title2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="catalogType">
    <xs:sequence>
      <xs:element type="bookType" name="book" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>